.Pokecard {
	width: 275px;
	padding: 5px;
	margin: 2rem;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
	text-align: center;
	background-color: white;
	border-radius: 8px;
}

.Pokecard-data {
	font-size: 80%;
}
